<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>FeedTNZ</Name>
    <ProductUrl>https://zonme.to2x.ovh/wtnz</ProductUrl>
    <Version>${CURRENT_VERSION}</Version>
    <Title>FeedTNZ</Title>
    <Publisher>LVWL</Publisher>
    <StartMenuDir>FeedTNZ</StartMenuDir>
    <RunProgramDescription>FeedTNZ</RunProgramDescription>
    <RunProgram>@TargetDir@/FeedTNZ</RunProgram>
    <TargetDir>@ApplicationsDirX64@/FeedTNZ</TargetDir>
    <InstallerWindowIcon>installericon</InstallerWindowIcon>
    <InstallerApplicationIcon>installericon</InstallerApplicationIcon>
    <Logo>logo.png</Logo>
    <RemoteRepositories>
        <Repository>
            <Url>https://zonme.to2x.ovh/feedtnz/packages/${CURRENT_PLATFORM_TARGET_REPO}/</Url>
        </Repository>
    </RemoteRepositories>
</Installer>